/* font face rule*/
@font-face {
font-family: 'Inter Regular';
src: url('Inter_18pt-Regular.ttf') format('truetype-variations');

}

/* font face rule*/
@font-face {
font-family: 'Inter Light';
src: url('Inter_18pt-ExtraLight.ttf') format('truetype-variations');

}
/* font face rule*/
@font-face {
font-family: 'Inter Xtra Bold';
src: url('Inter_24pt-ExtraBold.ttf') format('truetype-variations');

}

/* font face rule*/
@font-face {
font-family: 'Inter Bold';
src: url('Inter_24pt-Bold.ttf') format('truetype-variations');

}