.button{
    font-family: 'Inter Bold', sans-serif;
    font-size: 18px;
    color: white;
    &--primary{
        padding: 19px 30px;
        background-color: #3D63EA;
        border-radius: 5px;
        width: fit-content;
    }
    &--navigation{
        padding: 14px 25px;
        background: linear-gradient(to right, #3d0c6e, #7417d0);
        border-radius: 5px;
        cursor: pointer;
    }
    &--navigation2{
        padding: 14px 25px;
        background: linear-gradient(to right, #3d0c6e, #7417d0);
        border-radius: 5px;
        cursor: pointer;
        width: fit-content;
    }
    // @media (max-width: 991.98px){
    //      &--navigation{
    //         display: none;
    //     }
    //     &--navigation2{
    //         display: block;
    //     }
    // }
}

