$colorGrey: rgb(77, 76, 76);
$colorPrimary: #1A202C;
<<<<<<< HEAD
$colorSubtext: #4A5568;
=======
$colorSubtext: #4A5568;

$fontHeadline: clamp(24px, 3vw, 40px);
$fontSubheadline: clamp(20px, 3vw, 32px);
$fontFocustext: clamp(18px, 2vw, 28px)
>>>>>>> 8edb277878ffcac1dd0d3150370ab36a518ef782
